@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-sloop: var(--font-sloop);
  --font-luxurious-script: var(--font-luxurious-script);
  --font-be-vietnam-pro: var(--font-be-vietnam-pro);
  --font-dancing-script: var(--font-dancing-script);
  --font-imperial-script: var(--font-imperial-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  display: inline-block;
  width: 100%;
}
